html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #000;
}

.screen {
	position: fixed;
	display: flex;
	inset: 0;
	justify-content: center;
	align-items: center;
	
	z-index: 10;
}

@supports (height: 100dvh) {
	.screen {
		height: 100dvh;
	}
}

#welcome {
	padding: 1rem;
	text-align: center;
	font-size: clamp(1.25, 4vw, 2.5rem);
	color: #FFF;
}

.layout {
	flex: 1;
	display: grid;
	grid-template-columns: minmax(180px, 1fr) minmax(0, 3fr) minmax(180px, 1fr);
	gap: 1rem;
	padding: 1rem;
}

.app {
	min-height: 100dvh;
	display:flex;
	flex-direction: column;
}

.game-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

#phaser-container {
	width: 100%;
	height: 100%;
}

.panel {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background: #151515;
	border-radius: 0.5rem;
	font-size: clamp(0.9rem, 2vw, 1.2rem);
}

.top-bar,
.bottom-bar {
	padding: 0.75rem 1rem;
	background: #141414;
	color: #999;
	text-align: center;
	font-size: clamp(0.9rem, 2vw, 1.1rem);
}

@media (max-width: 768px) {
	.layout {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}

	.panel {
		order: 2;
	}

	.game-wrapper {
		order: 1;
	}
}

@media (orientation: portrait) {
	.layout {
		grid-template-columns:
			minmax(120px, 1fr)
			minmax(0, 4fr)
			minmax(120px, 1fr);
	}
}
